include ../modules/table--entities/layout

- positions = positions || data.positions
- selectedPosition = selectedPosition || data.selectedPosition
+customerPositionFilter(positions, selectedPosition)

